<nav class="bg-gray-800 text-white">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}" class="bg-white-200 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium text-white">
                                Home
                            </a>
                            <a href="{% url 'login' %}" class="bg-white-200 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium text-white">
                                Login   
                            </a>
                            <a href="{% url 'signup' %}" class="bg-white-200 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium text-white">
                                Register
                            </a>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            <a href="{% url 'index' %}" class="bg-white-200 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium text-white">
                                Home
                            </a>
                            <a href="{% url 'logout' %}" class="bg-white-200 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium text-white">
                                Logout
                            </a>
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>